.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}

.title,
.submit-button {
  text-align: center;
  padding: 1.5rem;
}

.submit-button {
  padding-top: 1.5rem;
}

.warning,
.error {
  padding-top: 10px;
}

.warning {
  color: #4d4d4d;
}
.error {
  color: red;
}
